.container-choice{
    background-color: #e6e6e6;
    border-radius: 10px;
    
    .item{
        color: black;
        padding: 0.5rem;
    }

}
table{
    border-collapse: collapse;
    width: 100%;
    
    th{
        border-collapse: collapse;
    }
}

.prix_total {
    margin: 15px 10px;
}