<app-supermot-button (emitOnClick)="clearStorage()" [label]="'Vider le panier'" ></app-supermot-button>

<div class="container-choice" *ngFor="let item of items">
    <div class="item">
        {{ item?.image }}
        <h3>
            {{ item?.nom }}
        </h3>
        <p>
            {{ item?.type }}
            {{ item?.description }}
        </p>
        <div class="item-quantity">
            <span class="quantity">
                <app-supermot-input-number (emitOnChange)="quantityChange($event, item)"></app-supermot-input-number>
            </span>
        </div>
        <div class="item-price">
            <span class="price">
                {{ item?.prix| currency: '€' }}
            </span>
        </div>
    </div>
</div>
<app-supermot-button (emitOnClick)="onClick()" [label]="'Passer au paiment'" ></app-supermot-button>