<app-supermot-button *ngIf="panier" (emitOnClick)="clearStorage()" [label]="'Vider le panier'" ></app-supermot-button>
<table>
    <tr>
        <th colspan="3">Produit</th>
        <th colspan="1">Quantité</th>
        <th colspan="1">Prix</th>
    </tr>
    <tr class="container-choice" *ngFor="let item of panier">
        <td colspan="3">{{ item.nom }}</td>
        <td>{{ 1 }}</td>
        <td>{{ item.prix }} €</td>
    </tr>
</table>

<app-supermot-carousel *ngIf="items" [data]="items"></app-supermot-carousel>
<app-supermot-button (emitOnClick)="onClick()" [label]="'Commander'" ></app-supermot-button>




<div>
    Prix total : {{ totalPrice }} €
</div>