<!-- <app-supermot-button *ngIf="panier" (emitOnClick)="clearStorage()" [label]="'Vider le panier'" ></app-supermot-button> -->
<table>
    <tr>
        <th colspan="4">Produit</th>
        <th colspan="2">Quantité</th>
        <th colspan="2">Prix</th>
        <th colspan="1">Gérer</th>
    </tr>
    <tr class="container-choice" *ngFor="let item of panier; let indexOfelement=index;">
        <td colspan="4">{{ item.nom }}</td>
        <td colspan="2">{{ 1 }}</td>
        <td colspan="2">{{ item.prix }} €</td>
        <td colspan="1" class="remove"><img src="/assets/img/png/remove.png" (click)="onRemoveClick(indexOfelement)"></td>
    </tr>
</table>

<!-- <app-supermot-carousel *ngIf="items" [data]="items"></app-supermot-carousel> -->
<app-supermot-button (emitOnClick)="onClick()" [label]="'Commander'" ></app-supermot-button>




<div>
    Prix total : {{ totalPrice }} €
</div>