:host {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #E0E1DD;
    border-radius: 10px;

    app-card {
        width: 45vw;
        max-width: 160px;
        height: 300px;
        border-radius: 10px;
    }
}