<p-carousel [value]="items" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h2>Produits associés</h2>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <app-card [header]="product.nom" [body]="product.prix" [footer]="product.image" (emitOnClick)="onClickButton(product)"></app-card>
            </div>
        </div>
    </ng-template>
</p-carousel>