<form [formGroup]="formFinalPayment">
    <fieldset>
        <legend>Informations personnelles</legend>
        <span class="inline">
            <div>
                <input type="text" formControlName="firstName" placeholder="Prénom" required>
            </div>
            <div>
                <input type="text" formControlName="lastName" placeholder="Nom" required>
            </div>
        </span>
        
        <div>
            <input class="addr" type="text" formControlName="address" placeholder="Adresse" required>
        </div>
        <div>
            <input type="text" formControlName="country" placeholder="Pays" required>
        </div>
        <span class="inline">
            <div>
                <input type="text" formControlName="city" placeholder="Ville" required>
            </div>
            <div>
                <input type="text" formControlName="zip" placeholder="Code postal" required>
            </div>
        </span>
        <span class="inline">
            <div>
                <input type="text" formControlName="phone" placeholder="Téléphone" required>
            </div>
            <div>
                <input type="text" formControlName="email" placeholder="@mail" required>
            </div>
        </span>
    </fieldset>
    <fieldset>
        <legend>Moyen de paiement</legend>
        <span class="inline">
            <div>
                <input type="text" formControlName="cardNumber" placeholder="Numéro de carte" required>
            </div>
            <div>
                <input type="text" formControlName="cardCvv" placeholder="CVC" required>
            </div>
        </span>
        <span class="inline">
            <div>
                <input type="text" formControlName="cardName" placeholder="Nom associé" required>
            </div>
            <div>
                <input type="text" formControlName="cardDate" placeholder="Date d'expiration" required>
            </div>
        </span>
    </fieldset>
    <div class="checkbox_fin_formulaire">
        <input type="checkbox" class="checkbox" formControlName="checkBox">
        En cochant cette case, vous acceptez nos <span class="lien">conditions générales de vente</span>
    </div>

    <app-supermot-button [label]="'Commander'" (emitOnClick)="onSubmit()" ></app-supermot-button>
</form>